.headerMap h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin: 50px 50px 10px 75px;
}

.wrapperMapInfo {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 900px;
  border-radius: 8px;
  border: 2px solid #000;
  overflow: hidden;
}

.cardMapInfo {
  background-color: var(--primary-color);
  padding: 20px;
  overflow-y: hidden;
}

.mapInfo {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  overflow-y: hidden;
}

.mapInfo img {
  width: 700px;
  height: 400px;
  border-radius: 8px;
}

.selengkapnya {
  margin: 20px;
}
