.sidebarDash {
  flex-basis: 25%;
  background-color: var(--secondary-color);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  height: calc(100vh + 60vh);
}
.menuToggle {
  margin-top: -70px;
}

.headerRightSide {
  margin: 100px 0 20px 20px;
}
.headerRightSide h1 {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: Bold;
}
.headerRightSide h3 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
}

.search {
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 300px;
}

.search input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border: 1px solid #212a3e;
}

.search input[type="text"]::placeholder {
  color: #999;
}
.fasilitasUmum li a svg,
.faq li a svg {
  color: var(--primary-color);
  float: left;
  margin-left: -40px;
}

.fasilitasUmum,
.faq {
  margin: 50px;
}
.fasilitasUmum ul,
.faq ul {
  list-style: none;
}
.fasilitasUmum li,
.faq li {
  margin: 10px 0 10px 50px;
}
.fasilitasUmum ul li a,
.faq ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}

.fasilitasUmum ul li a:hover,
.faq ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .headerRightSide h1 {
    font-size: 24px;
  }
  .headerRightSide h3 {
    font-size: 18px;
  }
  .search input[type="text"] {
    margin: 0 auto;
    max-width: 250px;
  }
  .fasilitasUmum h2,
  .faq h2 {
    font-size: 20px;
  }
  .fasilitasUmum ul li a,
  .faq ul li a {
    font-size: 14px;
  }
  .fasilitasUmum ul li a svg,
  .faq ul li a svg {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .search input[type="text"] {
    margin: 0 auto;
    max-width: 250px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .search input[type="text"] {
    margin: 0 auto;
    max-width: 250px;
  }
}

@media (max-width: 1024px) {
  .sidebarDash {
    position: fixed;
    top: 0;
    right: -300px; /* Menggeser sidebar keluar dari layar */
    width: 300px;
    height: 100%;
    transition: left 0.3s;
  }

  .menuOpen.sidebarDash {
    right: 0; /* Menggeser sidebar ke dalam layar */
  }

  .menuToggle {
    margin-left: -50px;
    margin-top: 50px;
    cursor: pointer;
  }

  .hamburger {
    width: 25px;
    transition: 0.4s;
  }

  .menuOpen .hamburger {
    transform: rotate(-90deg);
  }

  .menuOpen .hamburger:before,
  .menuOpen .hamburger:after {
    top: 0;
    transform: rotate(90deg);
  }

  .menuOpen .hamburger:before {
    transform: translateY(8px);
  }

  .menuOpen .hamburger:after {
    transform: translateY(-8px);
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .sidebarDash {
    flex-basis: 30%;
  }
  .headerRightSide h1 {
    font-size: 24px;
  }
  .headerRightSide h3 {
    font-size: 18px;
  }
  .search input[type="text"] {
    margin: 0 auto;
    max-width: 200px;
  }
  .fasilitasUmum,
  .faq {
    margin: 30px;
  }
  .fasilitasUmum h2,
  .faq h2 {
    font-size: 24px;
  }
  .fasilitasUmum ul li a,
  .faq ul li a {
    font-size: 16px;
  }
  .fasilitasUmum ul li a svg,
  .faq ul li a svg {
    font-size: 20px;
  }
}
