footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  box-shadow: var(--shadow-top);
  background-color: var(--primary-color);
  font-size: 18px;
  color: var(--secondary-color);
  font-family: "Poppins" sans-serif;
}

@media (max-width: 767px) {
  /* CSS untuk handphone */
  footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
}
