.containerDash {
  display: flex;
  height: 100vh;
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  font-family: "Poppins" sans-serif;
}
.hamburgerLeft {
  overflow: hidden;
}

.contentDash::-webkit-scrollbar {
  width: 6px;
}
.strikethrough {
  text-decoration: line-through;
}
.strikethrough {
  text-decoration: line-through;
}
.contentDash::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.contentDash::-webkit-scrollbar-track {
  background-color: transparent;
}

.leftSidebarDash {
  flex-basis: 20%;
  background-color: var(--secondary-color);
}

.contentDash {
  flex-basis: 60%;
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3) inset;
}

/* Left Sidebar */
.logoDash {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.companyLogo {
  max-width: 120px;
  margin: 30px;
}

.profilePict {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 20px;
}

.round-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.profileDash {
  margin: 25px;
}

.profileDash h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profileDash p {
  font-size: 16px;
  font-weight: 400;
}

.editProfile {
  cursor: pointer;
  margin-top: 5px;
}

.editProfile svg {
  margin-top: 5px;
  margin-left: 10px;
}
.leftSidebarDash ul li a,
.dataLeft {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  margin: 25px;
}

.menuContent a {
  text-decoration: dotted;
  color: #313131;
  font-size: 14px;
  margin: 16px 10px;
  justify-content: center;
}

.buttonDash {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 70px;
  position: absolute;
  bottom: 0;
}

.buttonDash button {
  margin-bottom: 10px;
}
.buttonDash a {
  color: var(--secondary-color);
  text-decoration: none;
}

#btnLogout,
#btnHelp {
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;
}

#btnLogout {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#btnLogout:hover,
#btnHelp:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}

#btnLogout svg {
  margin-left: 10px;
  margin-top: -2px;
  font-size: 20px;
}

#btnHelp a {
  color: #000;
  margin-left: 10px;
}

/* Center Dash */

/* Right Sidebar Dash */

@media (max-width: 576px) {
  /* CSS untuk handphone */
  .leftSidebarDash {
    max-width: 250px;
  }
  .buttonDash {
    margin-left: 50px;
  }
  .round-image {
    width: 150px;
    height: 150px;
  }
  #btnLogout,
  #btnHelp {
    width: 150px;
  }
  #btnLogout a {
    margin-left: -30px;
  }
  #btnHelp a {
    margin-left: -10px;
  }
}

@media (max-width: 767px) {
  /* CSS untuk handphone */
  .buttonDash {
    margin-left: 50px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .round-image {
    width: 150px;
    height: 150px;
  }
  .buttonDash {
    margin-left: 30px;
  }
}

@media (max-width: 1024px) {
  /* CSS untuk tablet */
  .leftSidebarDash {
    position: fixed;
    top: 0;
    left: -300px; /* Menggeser sidebar keluar dari layar */
    width: 300px;
    height: 100%;
    transition: left 0.3s;
    z-index: 9999;
  }

  .showSidebar.leftSidebarDash {
    left: 0; /* Menggeser sidebar ke dalam layar */
  }

  .menuToggleLeft {
    margin-left: 300px;
    margin-top: 50px;
    cursor: pointer;
  }

  .hamburgerLeft {
    overflow: visible;
    width: 25px;
    transition: 0.4s;
    transform: scaleX(-1);
  }
  .hamburgerLeft svg {
    color: #f24c3d;
  }
  .showSidebar .hamburgerLeft {
    transform: rotate(270deg);
  }

  .showSidebar .hamburgerLeft:before,
  .showSidebar .hamburgerLeft:after {
    top: 0;
    transform: rotate(-90deg);
  }

  .showSidebar .hamburgerLeft:before {
    transform: translateY(8px);
  }

  .showSidebar .hamburgerLeft:after {
    transform: translateY(-8px);
  }
}

/* Monitor */
@media (min-width: 1024px) and (max-width: 1440px) {
  /* CSS untuk monitor */
  .buttonDash {
    margin-left: 30px;
  }
}
