body {
  font-family: var(--primary-font);
}
.wrapper-detail {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Poppins" sans-serif;
}
.wrapper-detail .arrow-back {
  width: 5%;
}

.header-detail svg {
  float: left;
  width: 50px;
  margin: 10px 0 0 -80px;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.wrapper-detail .container-detail {
  width: 75%;
  height: 100vh;
  margin: 100px 20px 0 20px;
}
.card-detail {
  width: 75%;
  margin: 0 auto;
}

.header-detail {
  margin-bottom: 20px;
}

.header-detail h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

.img-detail {
  max-width: 400px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
}

.slider-detail {
  width: 100%;
  padding: 30px;
  margin: 20px auto;
}
.slick-list {
  margin: 0 20px 0 20px;
}

.detail-deskripsi {
  text-align: justify;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.detail-deskripsi p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 30px;
}

#btn4 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: var(--primary-color);
  color: #fff;
}

#btn4 svg {
  margin-top: -3px;
}

#btn4:hover {
  background-color: var(--secondary-color);
  color: #000;
  transition: all 0.3s ease;
}

/* Monitor */
@media (min-width: 1024px) and (max-width: 1280px) {
  /* CSS untuk monitor */
  .cardInfo {
    flex-direction: column;
    width: 400px;
    margin: 20px auto;
  }
  .cardImage img {
    margin: 20px auto;
    width: 300px;
    height: 150px;
  }
  .wrapperMapInfo {
    margin: 50px auto;
    width: 400px;
  }
  .cardContent p {
    margin-top: 0;
  }
  .btnSelengkapnya {
    margin-bottom: 10px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS untuk tablet */
  .headerDash,
  .headerMap {
    display: flex;
    justify-content: center;
  }
  .headerDash h1,
  .headerMap h1 {
    font-size: 36px;
  }
  .infoHeader {
    display: flex;
    justify-content: center;
  }
  .infoHeader h1 {
    margin: 30px;
  }
  .cardInfo {
    flex-direction: column;
    width: 600px;
    margin: 20px auto;
  }
  .cardImage img {
    margin: 20px auto;
  }
  .wrapperMapInfo {
    margin: 50px auto;
    width: 600px;
  }
  .cardContent p {
    margin-top: 0;
  }
  .btnSelengkapnya {
    margin-bottom: 10px;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  /* CSS untuk handphone dengan lebar layar antara 577px dan 767px */
  .headerDash,
  .headerMap {
    display: flex;
    justify-content: center;
  }
  .headerDash h1,
  .headerMap h1 {
    font-size: 36px;
  }
  .infoHeader {
    display: flex;
    justify-content: center;
  }
  .infoHeader h1 {
    margin: 30px;
  }
  .cardInfo {
    flex-direction: column;
    width: 450px;
    margin: 20px auto;
  }
  .cardImage img {
    margin: 20px auto;
  }
  .wrapperMapInfo {
    margin: 50px auto;
    width: 450px;
  }
  .cardContent p {
    margin-top: 0;
  }
  .btnSelengkapnya {
    margin-bottom: 10px;
  }
}

/* Handphone */
@media (max-width: 576px) {
  /* CSS untuk handphone */
  .headerDash,
  .headerMap {
    display: flex;
    justify-content: center;
  }
  .headerDash h1,
  .headerMap h1 {
    font-size: 36px;
  }
  .infoHeader {
    display: flex;
    justify-content: center;
  }
  .infoHeader h1 {
    margin: 30px;
  }
  .cardInfo {
    flex-direction: column;
    width: 450px;
    margin: 20px 0 20px 20px;
  }
  .cardImage img {
    margin: 20px auto;
  }
  .wrapperMapInfo {
    margin: 50px auto;
    width: 450px;
  }
  .cardContent p {
    margin-top: 0;
  }
  .btnSelengkapnya {
    margin-bottom: 10px;
  }
}

@media (min-width: 375px) and (max-width: 480px)  {
  .headerDash h1 {
    font-size: 30px;
  }
  .headerMap h1 {
    font-size: 30px;
    margin: 0;
  }
  .cardInfo {
    flex-direction: column;
    width: 250px;
    margin: 20px 0 20px 20px;
  }
  .cardImage img {
    width: 150px;
    height: 150px;
    margin: 20px auto;
  }
  .cardContent p {
    font-size: 12px;
  }
  .wrapperMapInfo {
    margin: 50px auto;
    width: 250px;
    height: 400px;
  }
}
