body {
  font-family: "Poppins" sans-serif;
}

/* Main */
.main {
  background-image: url("../../public/img/bg.webp");
  background-size: initial;
  background-position: center;
  position: relative;
  width: 100%;
  height: calc(100vh - 177px);
  margin: 0;
}

/* Container */
.container-hubungi {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 100px;
}

.container-hubungi h1 {
  width: 60%;
}

/* Content */
.content-hubungi {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 80px auto;
}

.card {
  width: 50%;
}
.card h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 72px;
}
.card p {
  width: 70%;
  margin: 0 auto;
  text-align: justify;
  padding-top: 50px;
  color: var(--secondary-color);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.content-hubungi img {
  margin: -50px;
  width: 400px;
  height: 400px;
  border-radius: 8px;
  border: 1px solid #fff;
}

/* Handphone */

@media (max-width: 767px) {
  /* CSS untuk handphone */
  .main {
    height: 800px;
  }

  .container {
    padding: 20px;
  }
  .card {
    margin: 0 auto;
  }
  .main {
    background-size: inherit;
    background-position: initial;
  }
  .card h1 {
    font-size: 28px;
    color: var(--secondary-color);
  }
  .content-hubungi {
    width: 85%;
    margin-top: 30px;
    flex-direction: column;
  }

  .content-hubungi p {
    font-size: 18px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .content-hubungi img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    order: -1;
    border: none;
  }
  .card {
    margin-top: 50px;
    width: 100%;
  }
  #btn3 {
    margin-top: 10px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  /* CSS untuk tablet */
  .main {
    height: calc(100vh - 5px);
  }
  .container {
    padding-top: 50px;
  }
  .card {
    margin-right: 50px;
  }
  .card h1 {
    font-size: 36px;
  }
  .content-hubungi {
    width: 90%;
  }
  .content-hubungi p {
    font-size: 20px;
    width: 100%;
  }
  .content-hubungi img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    border: none;
  }
  .card h1 {
    text-align: center;
    align-items: center;
    font-size: 30px;
    margin: 80px auto 0 auto;
    width: 90%;
  }
}

/* Monitor */
@media (min-width: 1024px) and (max-width: 1440px) {
  /* CSS untuk monitor */
  .content-hubungi {
    width: 100%;
  }
  .content-hubungi img {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border: none;
  }
}
